$spacing: 15px;


.cv-all-region {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #F5F8FA;

    .cv-all-region-holder {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .cv-side-region {
        flex: 1;
        margin: $spacing;

        .cv-side-region-menu {
            background-color: #F5F8FA;
            height: 100%;
        }
    }

    .cv-main-region {
        background-color: #EBF1F5;
        padding: $spacing;
        border-left: solid 1px $light-gray2;
        flex: 5;
        overflow: auto;
        position: relative;
    }
}